<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-offset-2 col-lg-8 text-center">
                <h2 class="section-heading text-muted">Bitcoin Tirol</h2>
                <h3 class="section-subheading text-muted" style="line-height: 3rem;">Bitcoin Tirol ist eine Initiative mit dem Ziel
                    Bitcoin Interessierte zu vernetzen, Wissen zu verbreiten und ein Netzwerk von Experten zum Thema aufzubauen.</h3>
            </div>
        </div>
    </div>
</section>
