<section id="app">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-sm-7 col-md-6 col-lg-offset-1 col-lg-4">
                <h2 class="section-heading text-muted">Bitcoin Tirol App entdecken 🚀</h2>
                <h3 class="section-subheading text-muted" style="line-height: 3rem;">Events finden, anmelden, Location checken, teilen & direkt zum Kalender hinzufügen – alles in einer App.</h3>
                <a href="https://app.bitcoin-tirol.at" target="_blank" class="page-scroll btn btn-xl btn-lg">
                    OPEN WEB APP
                </a>
            </div>
            <div class="col-xl-12 col-sm-5 col-md-6 col-lg-6">
                <img src="/img/bitcoin-tirol-events-app-1.png" alt="Bitcoin Tirol Events App" class="img-fluid">
            </div>
        </div>
    </div>
</section>
