<section id="blockinfo" class="d-flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="title-part1">BITCOIN HALVING IN</h2>
                <h1 class="title-part2"><span id="blocksToHalving">loading...</span> BLOCKS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="title">Countdown bis zum 5. Halving</h4>
                <h3 class="content" id="countdown">loading...</h3>
                <div>Update in: <span id="updateIn">21</span> Sekunden</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-6">
                <div class="info-line-block text-center">
                    <h5 class="title">Letzter Block</h5>
                    <h4 class="content" id="currentBlock">loading...</h4>
                </div>
            </div>
            <div class="col-xl-12 col-lg-6">
                <div class="info-line-block text-center">
                    <h5 class="title">Marktpreis (USD)</h5>
                    <h4 class="content" id="marketPrice">loading...</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-6 text-center halving-dates-est">
                <h5 class="time-between-blocks">Est. Blockzeit von ⌀<span id="timeBetweenBlocks">loading...</span></h5>
                <h4 class="time-to-halving">Zeit bis zum Halving: <span id="timeToHalving">loading...</span></h4>
                <div class="halving-date"><span id="halvingDate-Europe-Vienna">loading...</span></div>
            </div>
            <div class="col-xs-12 col-lg-6 text-center halving-dates-10">
                <h5 class="time-between-blocks">Est. Blockzeit 10 Minuten</h5>
                <h4 class="time-to-halving">Zeit bis zum Halving: <span id="defaultTimeToHalving">loading...</span></h4>
                <div class="halving-date"><span id="defaultHalvingDate-Europe-Vienna">loading...</span></div>
            </div>
        </div>
    </div>
</section>
<section id="halvingCelebration" style="display: none">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <div id="fireworks">
                        <div class="firework"></div>
                        <div class="firework"></div>
                        <div class="firework"></div>
                        <div class="firework"></div>
                        <div class="firework"></div>
                        <div class="firework"></div>
                        <div class="firework"></div>
                        <div class="firework"></div>
                        <div class="firework"></div>
                        <div class="firework"></div>
                        <div class="firework"></div>
                        <div class="firework"></div>
                    </div>
                    <h1>HAPPY 5TH BITCOIN HALVING!</h1>
                    <h2>EPOCH 6 2028-2032</h2>
                    <h3>1050000+ | 1.5625</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../js/block.js"></script>
