<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="brand-wrapper">
                <a class="navbar-brand page-scroll" href="/">
                    <img src="/img/logos/bitcoin-tirol-logo-wo.png" class="img-fluid img-centered logo"
                         alt="Bitcoin Logo Tirol">
                </a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="/#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/#about">Über uns</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#mission">Mission</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#events">Events</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#location">Location</a>
                </li>
                <!--li>
                    <a class="page-scroll" href="#partner">Partner</a>
                </li-->
                <li>
                    <a class="page-scroll" href="/#contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="intro-text page">
                    <div class="intro-box">
                        <div class="intro-heading">“Every informed person needs to know about Bitcoin because it might
                            be one of the world’s most important developments.”
                        </div>
                        <div class="intro-lead-in">Leon Luow, Nobel Peace prize nominee</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

