<section id="mempool" class="bg-light-gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-offset-2 col-lg-8">
                <h2 class="section-heading text-muted text-center">Bitcoin Blockchain Data (Blockzeit: <span id="result-blocks-height">Waiting for data</span>)</h2><br>
            </div>
            <div class="col-xs-12 col-lg-4">
                <h2>Blocks</h2><pre id="result-blocks">Waiting for data</pre>
            </div>
            <div class="col-xs-12 col-lg-4">
                <h2>Mempool Info</h2><pre id="result-mempool-info">Waiting for data</pre>
            </div>
            <div class="col-xs-12 col-lg-4">
                <h2>Mempool Blocks</h2><pre id="result-mempool-blocks">Waiting for data</pre>
            </div>
            <div class="col-xs-12 col-lg-12">
                <h2>Transactions</h2><pre id="result-transactions">Waiting for data</pre>
            </div>
        </div>
    </div>
</section>
