<section id="partner" class="bg-light-gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-offset-2 col-lg-8 text-center">
                <h2 class="section-heading text-muted">Partner</h2>
                <h3 class="section-subheading text-muted">Partner Netzwerk Bitcoin Hub Tirol - Innsbruck</h3>
            </div>
        </div>
        <div class="row flex-box">
            <div class="col-md-2 col-sm-6 col-xs-12 text-center">
                <a href="https://bitcoin-austria.at/" target="_blank">
                    <img src="img/logos/bitcoin-austria-logo.png" class="img-responsive img-centered" alt="Bitcoin Austria">
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12 text-center">
                <a href="https://einundzwanzig.space/" target="_blank">
                    <img src="img/logos/einundzwanzig-square-logo.png" class="img-responsive img-centered" alt="Einundzwanzig">
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12 text-center">
                <a href="https://www.eventation.at/" target="_blank">
                    <img src="img/logos/eventation-logo.jpg" class="img-responsive img-centered" alt="Eventation Innsbruck">
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12 text-center">
                <a href="https://satoshistore.io/" target="_blank">
                    <img src="img/logos/satoshistoreio-colored-vertical.png" class="img-responsive img-centered" alt="SatoshiStoreIO">
                </a>
            </div>
        </div>
    </div>
</section>
