<section id="event-plebs-sommer-picknick" class="special-events"
         style="background: url(/img/plebs-picknick-bg.jpg) no-repeat top center;
         background-size: cover;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-offset-2 col-lg-8 text-center">
                <h2 class="section-heading text-muted">Bitcoin Plebs Sommer Picknick</h2>
                <h3 class="text-muted text-center">LOCATION: Wildsee in Seefeld Strandperle</h3>
                <h3 class="text-muted text-center">DATUM: Samstag 06. August 2022 von 09:00 – 21:21</h3>
                <br>
            </div>
            <div class="col-xl-12 col-sm-5 col-md-6 col-lg-offset-1 col-lg-5">
                <h3 class="text-muted text-center text-md-left">Bitcoiner Picknick</h3>
                <div>
                    Alle Bitcoiner oder jene die es noch werden wollen, sind herzlich willkommen an unserem gemütlichen
                    Plebs Picknick am Wildsee in Seefeld Strandperle teilzunehmen. Mit Stand-Up Paddels, Slackline,
                    Packrafts, Kajak, Spikeball und vieles mehr ist ein grandioser Tag garantiert.
                    <br><br>
                    Jeder Pleb ist eingeladen etwas zum Essen für das Picknick Buffet mitzubringen. Getränke können auch
                    mitgebracht werden, sollten aber beim Wirten der Strandperle erworben werden.
                </div>
            </div>
            <div class="col-xl-12 col-sm-7 col-md-6 col-lg-5">
                <h3 class="text-muted text-center text-md-left">Sommer, Sonne, Party</h3>
                <div>
                    Der Eintritt in den Badesee (€ 6,80 | oder mit Freizeitticket), Getränke, Speisen und Eis können via Lightning bezahlt werden. Das
                    Bitcoin Picknick findet bei jedem Wetter statt, da wir Bitcoiner ja sturmerprobt sind.
                    <br><br>
                    Eine große Sektschüssel mit Eis, Bier und Prosecco wird von der BTC22 (<span><a href="https://www.bconf.de" target="_blank">www.bconf.de</a></span>) – Der größten
                    deutschsprachigen Bitcoin Konferenz gesponsert.
                </div>
            </div>
            <div class="col-xs-12 col-lg-offset-2 col-lg-8 text-center">
                <br>
                <br>
                <a href="{{ site.social_telegram }}" target="_blank"><h4>Tritt unseren Channel auf Telegram zum weiteren Austausch bei!</h4></a>
                <br>
                <br>
            </div>
            <div class="col-xl-12 col-sm-5 col-md-6 col-lg-4 text-center">
                <img src="/img/strandperle-1.jpeg" alt="Location 1">
            </div>
            <div class="col-xl-12 col-sm-7 col-md-6 col-lg-4 text-center">
                <img src="/img/strandperle-2.jpeg" alt="Location 2">
            </div>
            <div class="col-xl-12 col-sm-7 col-md-6 col-lg-4 text-center">
                <img src="/img/strandperle-3.jpeg" alt="Location 3">
            </div>
        </div>
    </div>
</section>
