<section id="events-se-one" class="special-events-light"
         style="background: url(/img/background-ibk.jpg) no-repeat center center;
         background-size: cover;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-offset-2 col-lg-8 text-center">
                <h2 class="section-heading text-muted">BTC22 DIE GRÖSSTE DEUTSCHSPRACHIGE BITCOIN KONFERENZ</h2>
                <h3 class="text-muted text-center">September 14-17 2023, Congress Innsbruck</h3>
                <br>
                <h4 class="text-muted text-center">Hodl Dir jetzt Dein Ticket unter <a href="https://bconf.de/tickets/" target="_blank">bconf.de</a></h4>
                <h4 class="text-muted text-center">PRE-SALE bis 1.1.23 | 5% OFF bei Bitcoin zahlung | 5% OFF mit Code: SATOSHISTOREIO </h4>
            </div>
        </div>
    </div>
</section>
