<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">

    {% include header.html %}

    <!--{% include special-event-conf.html %}-->

    {% include blockinfo.html %}
    {% include about.html %}
    {% include services.html %}
    {% include events.html %}
    {% include special-events-24.html %}
    {% include location.html %}
    {% include partner.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>
